# --- ADMIN (ROOT) DO BANCO ---
POSTGRES_ROOT_USER=
POSTGRES_ROOT_PASSWORD=

# --- N8N DB CONFIG ---
N8N_DB_USER=N8N_DB_PASSWORD=
N8N_DB_NAME=

# --- API DB CONFIG ---
API_DB_USER=
API_DB_PASSWORD=
API_DB_NAME=
DATABASE_URL=

# --- N8N CONFIGS ---
N8N_HOST=
N8N_PROTOCOL=
WEBHOOK_URL=
NODE_ENV=production

# --- OUTROS ---
TUNNEL_TOKEN=

# --- Application Configuration
PORT=

# -- Security (JWT) ---
JWT_SECRET=
 
# ---- Tempo de expiração do token (ex: 60s, 1h, 7d) ---
JWT_EXPIRES_IN=

# --- AWS Credentials ---
AWS_REGION=
PROVIDER_ACCESS_KEY_ID=
PROVIDER_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=
PROVIDER_BUCKET=

# --- regra de cadastro --
ALLOW_PUBLIC_REGISTRATION=
ADMIN_REGISTRATION_SECRET=